@font-face {
  font-family: "iconfont"; /* Project id 3931654 */
  src: url('iconfont.woff2?t=1679306568347') format('woff2'),
       url('iconfont.woff?t=1679306568347') format('woff'),
       url('iconfont.ttf?t=1679306568347') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-electron:before {
  content: "\eb86";
}

.icon-xiaoshuai:before {
  content: "\e638";
}

.icon-ts:before {
  content: "\e664";
}

.icon-windows:before {
  content: "\eba2";
}

.icon-mac:before {
  content: "\e61b";
}

.icon-mianshitiku:before {
  content: "\eaa4";
}

.icon-jiaocheng:before {
  content: "\e78d";
}

.icon-markdown:before {
  content: "\e946";
}

.icon-youxi:before {
  content: "\edc8";
}

.icon-shipin:before {
  content: "\e622";
}

.icon-tupian:before {
  content: "\e7ff";
}

.icon-wangyiyunyinle:before {
  content: "\e675";
}

.icon-yunfuwuqi1:before {
  content: "\e72c";
}

.icon-shenghuo:before {
  content: "\e6ab";
}

.icon-Swiper:before {
  content: "\e625";
}

.icon-airudiantubiaohuizhi-zhuanqu_meishicaipu:before {
  content: "\e6a2";
}

.icon-weixinzhifu:before {
  content: "\e689";
}

.icon-ajax:before {
  content: "\e679";
}

.icon-disanfangzhifu-zhiwen:before {
  content: "\e68c";
}

.icon-vant:before {
  content: "\e678";
}

.icon-bootstrap:before {
  content: "\e615";
}

.icon-yinle1:before {
  content: "\e99a";
}

.icon-echarts:before {
  content: "\e63c";
}

.icon-css3:before {
  content: "\e6bf";
}

.icon-linux:before {
  content: "\eb39";
}

.icon-shujujiegou:before {
  content: "\e790";
}

.icon-suanfaku:before {
  content: "\e623";
}

.icon-yarn:before {
  content: "\e7e6";
}

.icon-npm:before {
  content: "\e685";
}

.icon-icongongju:before {
  content: "\e60b";
}

.icon-git:before {
  content: "\e6ea";
}

.icon-database-full:before {
  content: "\e940";
}

.icon-uni-app:before {
  content: "\e600";
}

.icon-element:before {
  content: "\e60d";
}

.icon-wendang:before {
  content: "\e6aa";
}

.icon-JavaScript:before {
  content: "\e704";
}

.icon-WEBqianduan:before {
  content: "\e61c";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-React:before {
  content: "\e79a";
}

.icon-jQuery:before {
  content: "\e79b";
}

.icon-houduankaifa:before {
  content: "\e64c";
}

.icon-html:before {
  content: "\e632";
}

.icon-java:before {
  content: "\e639";
}

.icon-python:before {
  content: "\e690";
}

.icon-antdesign:before {
  content: "\eaa1";
}

.icon-wendang1:before {
  content: "\e6e5";
}

.icon-node:before {
  content: "\ec12";
}

.icon-shujukeshihua1:before {
  content: "\e70b";
}

